button {
  background-color: #004aad;
  border: none;
  color: white;
  padding: 13px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
}

#disable {
  cursor: not-allowed;
  background: rgb(184, 205, 229);
}

#enable {
  width: 100%;
  cursor: pointer;
  background: #004aad;
}
