.register{
    
}
.cent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.error{
    color: red;
    font-size: 11px;
}

.cent img{
    height: 40px ;
}

.Reg-head, .Login-head{
    margin-bottom: 50px;
}

.Reg-head p{
    font-size: 16px;
}

.Reg-body{
    box-shadow: 1px 10px 35px #cbc6c63a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px ;
    height:auto ;
    border-radius: 15px;
}

.Reg-body form{
    width: 100%;
}

.in-put{
    width: 100%;
    border: none;
    padding: 5px;
    outline: none;
    background-color: #b5b5b500;
}

.pass{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
}
.viewer{
    display: flex;
    margin-left:10px;
    cursor: pointer;

}

/* the login section */
.login{

}


.Login-body, .forgot-body, .rec-body{
    box-shadow: 1px 10px 35px #cbc6c63a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px ;
    height:auto ;
    border-radius: 15px;
   
}

.registered{
    margin-top:  30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
   
}

.registered a{
    color: #004aad;
    text-decoration: none;
    margin:0px 5px;
}

.forg{
    text-align: right;
}

.forgot a{
    color: green;
    font-size: 11px;
    text-decoration: none;
}

.fg-heading{
    margin-bottom: 50px;
    text-align: center;
}

.disp-p{
    display: flex;
    align-items: center;
    margin:10px 10px;
}

.disp-p p{
    font-size: 11px;
    margin:0px 10px;
}
.btn-01{
    margin: 10px 0px;
}
.rec-head{
    text-align: center;
    margin-bottom: 30px;
}

.ct-btn{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.prompt{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 10px 35px #cbc6c63a;

}

.ptp-body{
    background-color: white;
    border:1px solid #004aad ;
    border-left: 5px solid #004aad;
    text-align: center;
    border-radius:0px 10px 10px 0px ;
    font-size: 11px;
    padding: 10px ;
}

.ptp-body h4{
    color: #004aad;
}
@media screen and (max-width:425px) {
    .Reg-body, .forgot-body, .rec-body{
        padding: 30px 20px;
        width: 100%;
        border: 1px solid black;
    }

    .Reg-head h1, .Login-head h1, 
    .rec-head h1
    {
        font-size: 24px;
    }

    .Reg-head p, .Login-head p,.rec-head p {
        font-size: 12px
    }

    .Login-body{
        padding: 20px;
        width: 75%;
    }
}
@media screen and (min-width:426px) and (max-width:768px) {
    .Reg-body, .forgot-body, .rec-body{
        padding: 30px 20px;
        width: 90%;
    }

    .Reg-head h1, .Login-head h1, 
    .rec-head h1
    {
        font-size: 24px;
    }

    .Reg-head p, .Login-head p,.rec-head p {
        font-size: 12px
    }

    .Login-body{
        padding: 20px;
        width: 75%;
    }
}
