/* Header Section of the code  */
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images img{
    height: 40px;
}


/* banner css */
.Banner{
    background-color: white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    padding: 50px 30px;
    box-shadow: 1px 10px 35px #cbc6c63a;
}

.Banner-ctnt h3{
    font-size: 3rem;
    line-height: 3.5rem;
}

.Banner-ctnt p{
    margin: 20px 0px;
    color: #545F71;
}

.learn{
    margin-top: 30px;
}

/* this section of code is for the Referral code copy section */
.RefCode{

}

.BgImg img{
    height: 100px;
}
.ref{
    padding:0px 20px;
}

.ref-ct{
    margin: 10px 0px;
}

.ref-ct h2{
    font-size: 20px;
}

.ref-ct p{
    font-size: 11px;
    color: #545F71;
}
.ref-field{
    display: inline-flex;
    border: 1px solid #004aad;
    padding:7px;
    border-radius: 10px;
    margin: 10px 0px;
    width: 100%;
 

}
.ref-field input[type = text]{
    border: none;
    color: red;
    font-size: 16px;
    padding: 0px 10px;
    width: 100%;
    outline: none;
}

.copied{
    background-color: #004aad;
    padding: 10px ;
    border: none;
}

/* this section is for the ref assessments */
.payref{
    width: 50%;
}
.grids{
    display: grid;
    gap: 50px;

    grid-template-columns: auto auto ;
}

.grid-item{

}

.grid-item p{
    color: #545F71;
}

.grid-item h1{
    color: #004aad;
    font-size: 52px;
}

@media screen and (max-width:425px){
    .Banner{
       background-color: #004aad;
       color: white;
       padding: 20px;
       text-align: center;
    }
    .Banner-ctnt h3{
      font-size: 1.5rem;
      line-height: 2rem;
    }
    
    .Banner-ctnt p{
        margin: 10px 0px;
        color:white;
        font-size: 12px;
    }
    
    .learn{
        margin-top: 10px;
    }

    .classed{
        background-color: white !important;
        color: #004aad !important;
    }

    .Banner-disp img{
        display: none;
    }

    .BgImg img{
        height: 85px;
    }

    .payref{
        margin: 50px 0px;
    }

    .grids{
        gap: 20px;
        grid-template-columns: 90% 90% ;
        align-items: center;

    }

    .grid-item{
        display: flex;
        flex-direction: column;

    }
    .grid-item p{
        font-size: 14px;
    }

    .grid-item h1{
        font-size: 36px;
     
    }

    
}

@media screen and (min-width:426px) and (max-width:768px) {
    .Banner-ctnt h3{
        font-size: 36px;
        line-height:3rem;
    }
    .Banner-disp img{
        height: 0%;
        display: none;
    }

    .BgImg img{
        height: 70px;
    }

    .grids{
        gap: 20px;
        grid-template-columns: 50% 50% ;
       margin: 0px 10px;

    }


    .grid-item p{
        font-size: 14px;
    }

    .grid-item h1{
        font-size: 32px;
    
    }
}
