@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}
.App{
  padding:20px 70px ;
  background-color: #FDFDFD;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.infosec{
  display: flex;
  justify-content: space-between;

}

.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.34);
}

.close-bt{
  background: none;
  position: absolute;
  right: 5%;
  top: 25%;
  z-index: 1000000;
}